
@{
    ViewBag.Title = "login";
}

<h2>login</h2>

<div class="container">
    <br>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="text-center">login</h1>
            </div>
            <div class="modal-body">
                <form class="col-md-9 center-block">
                    <div class="form-group">
                        <input type="text" name="form-control" placeholder="Correo">
                    </div>
                    <div class="form-group">
                        <input type="password" name="form-control" placeholder="Contraseña">
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-block btn-lg btn-primary" value="Login">
                        <span class="pull-right">
                            <a href="#">Registrarse</a>
                        </span>
                </form>
            </div>
        </div>
    </div>
   </div>
        
